### scikit - Generate & Display Decision Tree using export_graphviz

In [50]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier, export_graphviz

Data Set Information: (Understanding of data )

There are four data sets representing different conditions of an experiment. All have the same attributes.

a. adult-stretch.data Inflated is true if age=adult or act=stretch


    color   size    act     age     inflated |  color     size    act        age      inflated
    1.0     1.0     1.0     0.0     1.0      |  YELLOW    SMALL   STRETCH    ADULT    T
    
    
b. adult+stretch.data Inflated is true if age=adult and act=stretch


    color   size    act     age     inflated |  color     size    act        age      inflated
    1.0     1.0     1.0     0.0     1.0      |  YELLOW    SMALL   STRETCH    ADULT    T
    

c. small-yellow.data Inflated is true if (color=yellow and size = small) 
    
    
    color   size    act     age     inflated |    color    size     act     age     inflated
    1.0     1.0     0.0     0.0     1.0      |    YELLOW   SMALL    DIP     ADULT   T


d. small-yellow+adult-stretch.data Inflated is true if (color=yellow and size = small) or (age=adult and act=stretch)


    color   size    act     age     inflated |  color     size    act        age      inflated
    1.0     1.0     1.0     0.0     1.0      |  YELLOW    SMALL   STRETCH    ADULT    T

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/yellow-small%2Badult-stretch.data',names=['color','size','act','age','inflated'])

In [5]:
data

     color   size      act    age inflated
0   YELLOW  SMALL  STRETCH  ADULT        T
1   YELLOW  SMALL  STRETCH  CHILD        T
2   YELLOW  SMALL      DIP  ADULT        T
3   YELLOW  SMALL      DIP  CHILD        T
4   YELLOW  LARGE  STRETCH  ADULT        T
5   YELLOW  LARGE  STRETCH  CHILD        F
6   YELLOW  LARGE      DIP  ADULT        F
7   YELLOW  LARGE      DIP  CHILD        F
8   PURPLE  SMALL  STRETCH  ADULT        T
9   PURPLE  SMALL  STRETCH  CHILD        F
10  PURPLE  SMALL      DIP  ADULT        F
11  PURPLE  SMALL      DIP  CHILD        F
12  PURPLE  LARGE  STRETCH  ADULT        T
13  PURPLE  LARGE  STRETCH  CHILD        F
14  PURPLE  LARGE      DIP  ADULT        F
15  PURPLE  LARGE      DIP  CHILD        F

In [6]:
oe = OrdinalEncoder()
feature_target = oe.fit_transform(data)

In [7]:
feature_target

array([[1., 1., 1., 0., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 0., 0., 1.],
       [1., 1., 0., 1., 1.],
       [1., 0., 1., 0., 1.],
       [1., 0., 1., 1., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 1., 0.],
       [0., 1., 1., 0., 1.],
       [0., 1., 1., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 0., 1., 1., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [8]:
ballon_data = pd.DataFrame(feature_target,columns=['color', 'size', 'act','age','inflated'])

In [9]:
ballon_data

    color  size  act  age  inflated
0     1.0   1.0  1.0  0.0       1.0
1     1.0   1.0  1.0  1.0       1.0
2     1.0   1.0  0.0  0.0       1.0
3     1.0   1.0  0.0  1.0       1.0
4     1.0   0.0  1.0  0.0       1.0
5     1.0   0.0  1.0  1.0       0.0
6     1.0   0.0  0.0  0.0       0.0
7     1.0   0.0  0.0  1.0       0.0
8     0.0   1.0  1.0  0.0       1.0
9     0.0   1.0  1.0  1.0       0.0
10    0.0   1.0  0.0  0.0       0.0
11    0.0   1.0  0.0  1.0       0.0
12    0.0   0.0  1.0  0.0       1.0
13    0.0   0.0  1.0  1.0       0.0
14    0.0   0.0  0.0  0.0       0.0
15    0.0   0.0  0.0  1.0       0.0

In [89]:
# Using Gini 
dt = DecisionTreeClassifier(criterion = 'gini')

In [90]:
dt.fit(ballon_data.drop(columns=['inflated']),ballon_data.inflated)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [91]:
export_graphviz(dt,'ballon_data_gini.tree',feature_names=['color', 'size', 'act','age'])

*click Here to see Tree*https://github.com/taruntiwarihp/Machine-Learning/blob/master/Gini.PNG

In [86]:
# Using ENtropy 
dt = DecisionTreeClassifier(criterion='entropy')

In [87]:
dt.fit(ballon_data.drop(columns=['inflated']),ballon_data.inflated)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [88]:
export_graphviz(dt,'ballon_data_entropy.tree',feature_names=['color', 'size', 'act','age'])

*click here to see Tree* https://github.com/taruntiwarihp/Machine-Learning/blob/master/Entropy.PNG

### Task 2: Manually - Generate Decision Tree using Information Gain & Gini Impurity ( 60 Marks)

### Using Gini Impurity

##### What are the attributes from which we have  to select the best one?
* Color, Size, Act, Age

##### Bining Techniques

* For Color column value ranges from [0,1]
    * Buckets[.,0.5,.]
* For Size column value ranges from [0.1]
    * Buckets[.,0.5,.]
* For Act column value ranges from [0.1]
    * Buckets[.,0.5,.]
* For Age column value ranges from [0.1]
    * Buckets[.,0.5,.]

#### What are the possible questions or decision?
* For Color attribute, questions can be any of the following
    * (a) color <0.5
* For Size
    * (b) size <0.5
* For Act
    * (c) act<0.5
* For Windy
    * (d) windy<0.5
    
    
#####  Conclusion: We have four questions to choose from for this dataset during training

In [36]:
# GiniBeforeSplit
ballon_data.inflated.value_counts()

0.0    9
1.0    7
Name: inflated, dtype: int64

In [41]:
GiniBeforeSplit = (9/16) * (1-9/16) + (7/16) * (1-7/16)

In [42]:
GiniBeforeSplit

0.4921875

In [16]:
ballon_data[ballon_data.color < 0.5]

    color  size  act  age  inflated
8     0.0   1.0  1.0  0.0       1.0
9     0.0   1.0  1.0  1.0       0.0
10    0.0   1.0  0.0  0.0       0.0
11    0.0   1.0  0.0  1.0       0.0
12    0.0   0.0  1.0  0.0       1.0
13    0.0   0.0  1.0  1.0       0.0
14    0.0   0.0  0.0  0.0       0.0
15    0.0   0.0  0.0  1.0       0.0

In [29]:
ballon_data[ballon_data.color <0.5].inflated.value_counts()#left

0.0    6
1.0    2
Name: inflated, dtype: int64

In [37]:
GiniLeft = (2/8)*(1-2/8) +(6/8)*(1-6/8)

In [38]:
GiniLeft

0.375

In [27]:
ballon_data[ballon_data.color > 0.5]# Right

   color  size  act  age  inflated
0    1.0   1.0  1.0  0.0       1.0
1    1.0   1.0  1.0  1.0       1.0
2    1.0   1.0  0.0  0.0       1.0
3    1.0   1.0  0.0  1.0       1.0
4    1.0   0.0  1.0  0.0       1.0
5    1.0   0.0  1.0  1.0       0.0
6    1.0   0.0  0.0  0.0       0.0
7    1.0   0.0  0.0  1.0       0.0

In [32]:
GiniRight = (3/8) * (1-3/8) + (5/8) * (1-5/8)

In [33]:
GiniRight

0.46875

In [39]:
GiniSplit = (8/16) * GiniLeft + (8/16) * GiniRight

In [40]:
GiniSplit

0.421875

In [44]:
GiniGain = GiniBeforeSplit - GiniSplit

In [45]:
GiniGain

0.0703125

* Working On the subtree
###### Reapting the steps same for rest of the 3 Questions

In [47]:
subdata_1 = ballon_data[ballon_data.color > 0.5]

In [48]:
subdata_2 = ballon_data[ballon_data.color < 0.5]

### Using Entopy

In [52]:
ballon_data.inflated.value_counts()

0.0    9
1.0    7
Name: inflated, dtype: int64

In [53]:
EntropyBeforeSplit = -((9/16)*np.log2(9/16) + (7/16)*np.log2(7/16))

In [54]:
EntropyBeforeSplit

0.9886994082884974

In [49]:
ballon_data[ballon_data.color < 0.5]

    color  size  act  age  inflated
8     0.0   1.0  1.0  0.0       1.0
9     0.0   1.0  1.0  1.0       0.0
10    0.0   1.0  0.0  0.0       0.0
11    0.0   1.0  0.0  1.0       0.0
12    0.0   0.0  1.0  0.0       1.0
13    0.0   0.0  1.0  1.0       0.0
14    0.0   0.0  0.0  0.0       0.0
15    0.0   0.0  0.0  1.0       0.0

In [56]:
ballon_data[ballon_data.color < 0.5].inflated.value_counts()

0.0    6
1.0    2
Name: inflated, dtype: int64

In [57]:
EntropyLeft = -((6/8)*np.log2(6/8) + (2/8)*np.log2(2/8))

In [58]:
EntropyLeft

0.8112781244591328

In [59]:
ballon_data[ballon_data.color > 0.5]

   color  size  act  age  inflated
0    1.0   1.0  1.0  0.0       1.0
1    1.0   1.0  1.0  1.0       1.0
2    1.0   1.0  0.0  0.0       1.0
3    1.0   1.0  0.0  1.0       1.0
4    1.0   0.0  1.0  0.0       1.0
5    1.0   0.0  1.0  1.0       0.0
6    1.0   0.0  0.0  0.0       0.0
7    1.0   0.0  0.0  1.0       0.0

In [62]:
ballon_data[ballon_data.color > 0.5].inflated.value_counts()

1.0    5
0.0    3
Name: inflated, dtype: int64

In [63]:
EntropyRight = -((5/8)*np.log2(5/8) + (3/8)*np.log2(3/8))

In [64]:
EntropyRight

0.954434002924965

In [65]:
EntropySplit = (8/16) * EntropyLeft + (8/16) * EntropyRight

In [66]:
Information_Gain = EntropyBeforeSplit - EntropySplit

In [67]:
Information_Gain

0.10584334459644851

* Working On the subtree
###### Reapting the steps same for rest of the 3 Questions

In [68]:
subdata_1 = ballon_data[ballon_data.color > 0.5]

In [69]:
subdata_2 = ballon_data[ballon_data.color < 0.5]

In [70]:
# by using Gini Impurity
class MyDecisionTreeCategoricalClassifier:
    
    def __init__(self):
         self.feature_ranges = {}
        
    def createDecisionsFromData(self,feature_data):
        for col in feature_data.columns:
            ranges_info = []
            i = 0.5
            cat_max = feature_data[col].max()
            while i < cat_max:
                ranges_info.append(i)
                i = i+1
            self.feature_ranges[col] = ranges_info
            
        decisions = list(dt.feature_ranges.items())
        self.decisions = []
        for f,buckets in decisions:
            for bucket in buckets:
                self.decisions.append((f,bucket))
        
    def calGini(self,target):
        total = target.value_counts().values.sum()
        l = list(target.value_counts().values)
        gini = 0
        for e in l:
            gini += (e/total)*(1-e/total)
        return gini
         
    def select_decision(self,data):
        GiniBeforeSplit = self.calGini(data.target)
        if GiniBeforeSplit == 0:
            return
        print('GiniBeforeSplit',GiniBeforeSplit)
        max_gini_gain = 0
        for feature,value in self.decisions:
            data_left = data[data[feature] < value]
            GiniLeft = self.calGini(data_left.target)
            data_right = data[data[feature] > value]
            GiniRight = self.calGini(data_right.target)
            GiniSplit = (data_left.shape[0]/data.shape[0])*GiniLeft + (data_right.shape[0]/data.shape[0])*GiniRight
            GiniGain = GiniBeforeSplit - GiniSplit
            if GiniGain > max_gini_gain:
                max_gini_gain = GiniGain
                best_data_left = data_left
                best_data_right = data_right
                best_feature = feature
                best_value = value
        print(best_feature,best_value)
        print('Gini-Left',GiniLeft)
        self.select_decision(best_data_left)
        print('Gini-Right',GiniRight)
        self.select_decision(best_data_right)        
        
        #Calculate Gini Gain for each decision & chose the one which is best
    def myfit(self, feature_data, target_data):
        GiniBeforeSplit = self.calGini(target_data)
        
        feature_data['target'] = target_data
        data = feature_data
        self.select_decision(data)
        
    
    def mypredict(self,feature_data):
        pass

In [71]:
dt = MyDecisionTreeCategoricalClassifier()

In [72]:
dt.createDecisionsFromData(ballon_data.drop(columns=['inflated']))

In [73]:
dt.myfit(ballon_data.drop(columns=['inflated']), ballon_data.inflated)

GiniBeforeSplit 0.4921875
color 0.5
Gini-Left 0.46875
GiniBeforeSplit 0.375
act 0.5
Gini-Left 0.5
Gini-Right 0.0
GiniBeforeSplit 0.5
age 0.5
Gini-Left 0.0
Gini-Right 0.0
Gini-Right 0.375
GiniBeforeSplit 0.46875
size 0.5
Gini-Left 0.375
GiniBeforeSplit 0.375
act 0.5
Gini-Left 0.5
Gini-Right 0.0
GiniBeforeSplit 0.5
age 0.5
Gini-Left 0.0
Gini-Right 0.0
Gini-Right 0.5

In [74]:
# by using InformationGain
class MyDecisionTreeCategoricalClassifier:
    
    def __init__(self):
         self.feature_ranges = {}
        
    def createDecisionsFromData(self,feature_data):
        for col in feature_data.columns:
            ranges_info = []
            i = 0.5
            cat_max = feature_data[col].max()
            while i < cat_max:
                ranges_info.append(i)
                i = i+1
            self.feature_ranges[col] = ranges_info
            
        decisions = list(dt.feature_ranges.items())
        self.decisions = []
        for f,buckets in decisions:
            for bucket in buckets:
                self.decisions.append((f,bucket))
        
    def calEntropy(self,target):
        total = target.value_counts().values.sum()
        l = list(target.value_counts().values)
        entropy = 0
        for e in l:
            entropy += -((e/total)*np.log2(e/total))
        return entropy
         
    def select_decision(self,data):
        EntropyBeforeSplit = self.calEntropy(data.target)
        if EntropyBeforeSplit == 0:
            return
        print('EntropyBeforeSplit',EntropyBeforeSplit)
        max_information_gain = 0
        for feature,value in self.decisions:
            data_left = data[data[feature] < value]
            EntropyLeft = self.calEntropy(data_left.target)
            data_right = data[data[feature] > value]
            EntropyRight = self.calEntropy(data_right.target)
            EntropySplit = (data_left.shape[0]/data.shape[0])*EntropyLeft + (data_right.shape[0]/data.shape[0])*EntropyRight
            InformationGain = EntropyBeforeSplit - EntropySplit
            if InformationGain > max_information_gain:
                max_information_gain = InformationGain
                best_data_left = data_left
                best_data_right = data_right
                best_feature = feature
                best_value = value
        print(best_feature,best_value)
        print('Entropy-Left',EntropyLeft)
        self.select_decision(best_data_left)
        print('Entropy-Right',EntropyRight)
        self.select_decision(best_data_right)        
        
        #Calculate Information Gain for each decision & chose the one which is best
    def myfit(self, feature_data, target_data):
        EntropyBeforeSplit = self.calEntropy(target_data)
        
        feature_data['target'] = target_data
        data = feature_data
        self.select_decision(data)
        
    
    def mypredict(self,feature_data):
        pass

In [75]:
dt = MyDecisionTreeCategoricalClassifier()

In [77]:
dt.createDecisionsFromData(ballon_data.drop(columns=['inflated']))

In [79]:
dt.myfit(ballon_data.drop(columns=['inflated']),data.inflated)

EntropyBeforeSplit 0.9886994082884974
color 0.5
Entropy-Left 0.954434002924965
EntropyBeforeSplit 0.8112781244591328
act 0.5
Entropy-Left 1.0
Entropy-Right 0.0
EntropyBeforeSplit 1.0
age 0.5
Entropy-Left 0.0
Entropy-Right 0.0
Entropy-Right 0.8112781244591328
EntropyBeforeSplit 0.954434002924965
size 0.5
Entropy-Left 0.8112781244591328
EntropyBeforeSplit 0.8112781244591328
act 0.5
Entropy-Left 1.0
Entropy-Right 0.0
EntropyBeforeSplit 1.0
age 0.5
Entropy-Left 0.0
Entropy-Right 0.0
Entropy-Right 1.0